<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Access Denied - MC Doksakura</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body style="background-image: url(https://content.doksakura.com/images/MCBG.jpeg)">
<div class="p-4 text-center text-bg-danger my-5"><h2>Access Denied</h2></div>
</body>
</html>